In [8]:
import polars as pl

In [15]:
# Importando a biblioteca Polars e lendo o arquivo CSV
df = pl.read_csv('data-superstore.csv')
df.head()   # Visualizando as 5 primeiras linhas do dataset

shape: (5, 14)
┌────────────┬─────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Região     ┆ País    ┆ Tipo de   ┆ Canal de  ┆ … ┆ Custo     ┆ Receita   ┆ Custo     ┆ Lucro     │
│ ---        ┆ ---     ┆ Item      ┆ Venda     ┆   ┆ Unitário  ┆ Total     ┆ Total     ┆ Total     │
│ str        ┆ str     ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│            ┆         ┆ str       ┆ str       ┆   ┆ f64       ┆ f64       ┆ f64       ┆ f64       │
╞════════════╪═════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Australia  ┆ Palau   ┆ Office    ┆ Online    ┆ … ┆ 524.96    ┆ 1.5636e6  ┆ 1.2604e6  ┆ 303126.25 │
│ and        ┆         ┆ Supplies  ┆           ┆   ┆           ┆           ┆           ┆           │
│ Oceania    ┆         ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ Europe     ┆ Poland  ┆ Beverages ┆ Online    ┆ … ┆ 31.79     ┆ 443183.0  ┆ 296918.6  ┆ 146264.4  │
│ North      ┆ Canada  ┆ Cereal    ┆ Online    ┆ … ┆ 117.11    ┆ 21187.1   ┆ 12062.33  ┆ 9124.77   │
│ America    ┆         ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ Europe     ┆ Belarus ┆ Snacks    ┆ Online    ┆ … ┆ 97.44     ┆ 215748.12 ┆ 137780.16 ┆ 77967.96  │
│ Middle     ┆ Oman    ┆ Cereal    ┆ Offline   ┆ … ┆ 117.11    ┆ 1445453.9 ┆ 822931.97 ┆ 622521.93 │
│ East and   ┆         ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ North      ┆         ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ Africa     ┆         ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
└────────────┴─────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [16]:
# Verificando os tipos de dados de cada coluna
df.dtypes

[String,
 String,
 String,
 String,
 String,
 String,
 Int64,
 String,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64,
 Float64]

In [17]:
# Gerando estatísticas descritivas do dataset completo
df.describe()

shape: (9, 15)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ Região    ┆ País      ┆ Tipo de   ┆ … ┆ Custo     ┆ Receita   ┆ Custo     ┆ Lucro    │
│ ---       ┆ ---       ┆ ---       ┆ Item      ┆   ┆ Unitário  ┆ Total     ┆ Total     ┆ Total    │
│ str       ┆ str       ┆ str       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆           ┆           ┆ str       ┆   ┆ f64       ┆ f64       ┆ f64       ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 1428336   ┆ 1428336   ┆ 1428336   ┆ … ┆ 1.428335e ┆ 1.428335e ┆ 1.428335e ┆ 1.428335 │
│           ┆           ┆           ┆           ┆   ┆ 6         ┆ 6         ┆ 6         ┆ e6       │
│ null_coun ┆ 0         ┆ 0         ┆ 0         ┆ … ┆ 1.0       ┆ 1.0       ┆ 1.0       ┆ 1.0      │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ null      ┆ null      ┆ null      ┆ … ┆ 187.69152 ┆ 1.3306e6  ┆ 938120.52 ┆ 392515.3 │
│           ┆           ┆           ┆           ┆   ┆ 4         ┆           ┆ 8168      ┆ 07078    │
│ std       ┆ null      ┆ null      ┆ null      ┆ … ┆ 175.71122 ┆ 1.4695e6  ┆ 1.1498e6  ┆ 379039.6 │
│           ┆           ┆           ┆           ┆   ┆ 7         ┆           ┆           ┆ 96178    │
│ min       ┆ Asia      ┆ Afghanist ┆ Baby Food ┆ … ┆ 6.92      ┆ 9.33      ┆ 6.92      ┆ 2.41     │
│           ┆           ┆ an        ┆           ┆   ┆           ┆           ┆           ┆          │
│ 25%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 56.67     ┆ 277622.0  ┆ 161792.85 ┆ 95031.36 │
│ 50%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 117.11    ┆ 785613.92 ┆ 467289.27 ┆ 281424.0 │
│ 75%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 364.69    ┆ 1822249.6 ┆ 1.1976e6  ┆ 565726.2 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 5        │
│ max       ┆ Sub-Sahar ┆ Zimbabwe  ┆ Vegetable ┆ … ┆ 524.96    ┆ 6.6827e6  ┆ 5.2496e6  ┆ 1.7387e6 │
│           ┆ an Africa ┆           ┆ s         ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [18]:
# Estatísticas descritivas apenas para colunas numéricas (Int64 e Float64)
df.select(pl.col(pl.Int64, pl.Float64)).describe()

shape: (9, 8)
┌────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ statistic  ┆ ID do      ┆ Unidades   ┆ Preço     ┆ Custo     ┆ Receita   ┆ Custo     ┆ Lucro     │
│ ---        ┆ Pedido     ┆ Vendidas   ┆ Unitário  ┆ Unitário  ┆ Total     ┆ Total     ┆ Total     │
│ str        ┆ ---        ┆ ---        ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│            ┆ f64        ┆ f64        ┆ f64       ┆ f64       ┆ f64       ┆ f64       ┆ f64       │
╞════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ count      ┆ 1.428336e6 ┆ 1.428335e6 ┆ 1.428335e ┆ 1.428335e ┆ 1.428335e ┆ 1.428335e ┆ 1.428335e │
│            ┆            ┆            ┆ 6         ┆ 6         ┆ 6         ┆ 6         ┆ 6         │
│ null_count ┆ 0.0        ┆ 1.0        ┆ 1.0       ┆ 1.0       ┆ 1.0       ┆ 1.0       ┆ 1.0       │
│ mean       ┆ 5.4987e8   ┆ 4998.74788 ┆ 266.23243 ┆ 187.69152 ┆ 1.3306e6  ┆ 938120.52 ┆ 392515.30 │
│            ┆            ┆ 3          ┆           ┆ 4         ┆           ┆ 8168      ┆ 7078      │
│ std        ┆ 2.5993e8   ┆ 2886.93167 ┆ 217.03234 ┆ 175.71122 ┆ 1.4695e6  ┆ 1.1498e6  ┆ 379039.69 │
│            ┆            ┆ 7          ┆           ┆ 7         ┆           ┆           ┆ 6178      │
│ min        ┆ 4.172897e6 ┆ 1.0        ┆ 9.33      ┆ 6.92      ┆ 9.33      ┆ 6.92      ┆ 2.41      │
│ 25%        ┆ 3.24790465 ┆ 2500.0     ┆ 109.28    ┆ 56.67     ┆ 277622.0  ┆ 161792.85 ┆ 95031.36  │
│            ┆ e8         ┆            ┆           ┆           ┆           ┆           ┆           │
│ 50%        ┆ 5.49325263 ┆ 4997.0     ┆ 205.7     ┆ 117.11    ┆ 785613.92 ┆ 467289.27 ┆ 281424.0  │
│            ┆ e8         ┆            ┆           ┆           ┆           ┆           ┆           │
│ 75%        ┆ 7.75303733 ┆ 7498.0     ┆ 437.2     ┆ 364.69    ┆ 1822249.6 ┆ 1.1976e6  ┆ 565726.25 │
│            ┆ e8         ┆            ┆           ┆           ┆           ┆           ┆           │
│ max        ┆ 9.99999892 ┆ 10000.0    ┆ 668.27    ┆ 524.96    ┆ 6.6827e6  ┆ 5.2496e6  ┆ 1.7387e6  │
│            ┆ e8         ┆            ┆           ┆           ┆           ┆           ┆           │
└────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┴───────────┘

In [19]:
# Contando valores nulos em cada coluna
df.null_count()

shape: (1, 14)
┌────────┬──────┬─────────┬──────────┬───┬──────────┬─────────┬─────────────┬─────────────┐
│ Região ┆ País ┆ Tipo de ┆ Canal de ┆ … ┆ Custo    ┆ Receita ┆ Custo Total ┆ Lucro Total │
│ ---    ┆ ---  ┆ Item    ┆ Venda    ┆   ┆ Unitário ┆ Total   ┆ ---         ┆ ---         │
│ u32    ┆ u32  ┆ ---     ┆ ---      ┆   ┆ ---      ┆ ---     ┆ u32         ┆ u32         │
│        ┆      ┆ u32     ┆ u32      ┆   ┆ u32      ┆ u32     ┆             ┆             │
╞════════╪══════╪═════════╪══════════╪═══╪══════════╪═════════╪═════════════╪═════════════╡
│ 0      ┆ 0    ┆ 0       ┆ 0        ┆ … ┆ 1        ┆ 1       ┆ 1           ┆ 1           │
└────────┴──────┴─────────┴──────────┴───┴──────────┴─────────┴─────────────┴─────────────┘

In [20]:
# Contagem detalhada de NaN e nulls para todas as colunas
nan_counts = {
    col: (
        # Contar NaN apenas para colunas float
        (df[col].is_nan().sum() if df[col].dtype in (pl.Int64, pl.Float64) else 0)
        # Contar null para todas as colunas
        + df[col].is_null().sum()
    )
    for col in df.columns
}

In [21]:
nan_counts

{'Região': 0,
 'País': 0,
 'Tipo de Item': 0,
 'Canal de Venda': 0,
 'Prioridade do Pedido': 0,
 'Data do Pedido': 0,
 'ID do Pedido': 0,
 'Data de Envio': 1,
 'Unidades Vendidas': 1,
 'Preço Unitário': 1,
 'Custo Unitário': 1,
 'Receita Total': 1,
 'Custo Total': 1,
 'Lucro Total': 1}

In [22]:
# Verificando valores únicos na coluna "Região"
df['Região'].unique()

shape: (7,)
Series: 'Região' [str]
[
	"Asia"
	"Central America and the Caribb…
	"Sub-Saharan Africa"
	"Middle East and North Africa"
	"Europe"
	"North America"
	"Australia and Oceania"
]

In [23]:
# Filtrando apenas as linhas das regiões "Europe" e "Asia"
df_regions = df.filter((pl.col("Região") == "Eurupe") | (pl.col("Região") == "Asia"))

In [25]:
df_regions.shape

(208693, 14)

In [26]:
# Visualizando as 5 primeiras linhas do dataset filtrado
df_regions.head()

shape: (5, 14)
┌────────┬────────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Região ┆ País       ┆ Tipo de    ┆ Canal de  ┆ … ┆ Custo     ┆ Receita   ┆ Custo     ┆ Lucro     │
│ ---    ┆ ---        ┆ Item       ┆ Venda     ┆   ┆ Unitário  ┆ Total     ┆ Total     ┆ Total     │
│ str    ┆ str        ┆ ---        ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│        ┆            ┆ str        ┆ str       ┆   ┆ f64       ┆ f64       ┆ f64       ┆ f64       │
╞════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Asia   ┆ Bangladesh ┆ Cereal     ┆ Offline   ┆ … ┆ 117.11    ┆ 661531.2  ┆ 376625.76 ┆ 284905.44 │
│ Asia   ┆ Kyrgyzstan ┆ Snacks     ┆ Offline   ┆ … ┆ 97.44     ┆ 673793.28 ┆ 430295.04 ┆ 243498.24 │
│ Asia   ┆ Bangladesh ┆ Fruits     ┆ Online    ┆ … ┆ 6.92      ┆ 5831.25   ┆ 4325.0    ┆ 1506.25   │
│ Asia   ┆ Myanmar    ┆ Vegetables ┆ Offline   ┆ … ┆ 90.93     ┆ 576954.7  ┆ 340532.85 ┆ 236421.85 │
│ Asia   ┆ Uzbekistan ┆ Baby Food  ┆ Online    ┆ … ┆ 159.42    ┆ 982828.0  ┆ 613767.0  ┆ 369061.0  │
└────────┴────────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [27]:
# Filtrando agora apenas os dados do país "Germany"
df = df.filter(df["País"] == "Germany")
df.head()

shape: (5, 14)
┌────────┬─────────┬────────────┬────────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ Região ┆ País    ┆ Tipo de    ┆ Canal de   ┆ … ┆ Custo      ┆ Receita    ┆ Custo     ┆ Lucro     │
│ ---    ┆ ---     ┆ Item       ┆ Venda      ┆   ┆ Unitário   ┆ Total      ┆ Total     ┆ Total     │
│ str    ┆ str     ┆ ---        ┆ ---        ┆   ┆ ---        ┆ ---        ┆ ---       ┆ ---       │
│        ┆         ┆ str        ┆ str        ┆   ┆ f64        ┆ f64        ┆ f64       ┆ f64       │
╞════════╪═════════╪════════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ Europe ┆ Germany ┆ Personal   ┆ Offline    ┆ … ┆ 56.67      ┆ 631119.06  ┆ 437605.74 ┆ 193513.32 │
│        ┆         ┆ Care       ┆            ┆   ┆            ┆            ┆           ┆           │
│ Europe ┆ Germany ┆ Clothes    ┆ Online     ┆ … ┆ 35.84      ┆ 127092.64  ┆ 41681.92  ┆ 85410.72  │
│ Europe ┆ Germany ┆ Meat       ┆ Online     ┆ … ┆ 364.69     ┆ 4.1919e6   ┆ 3.6236e6  ┆ 568339.2  │
│ Europe ┆ Germany ┆ Cereal     ┆ Online     ┆ … ┆ 117.11     ┆ 1846980.3  ┆ 1.0515e6  ┆ 795449.61 │
│ Europe ┆ Germany ┆ Baby Food  ┆ Offline    ┆ … ┆ 159.42     ┆ 527663.76  ┆ 329521.14 ┆ 198142.62 │
└────────┴─────────┴────────────┴────────────┴───┴────────────┴────────────┴───────────┴───────────┘